@model Artesanas.Models.ViewModels.StoreItemViewModel
@using Artesanas.Extensions

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Create StoreItem</h2>
<br />

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StoreItem.Name" class="form-control" />
            </div>
            <span asp-validation-for="StoreItem.Name" class="text-danger"></span>
        </div>


        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.HighlightedWords" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StoreItem.HighlightedWords" class="form-control" />
            </div>
            <span asp-validation-for="StoreItem.HighlightedWords" class="text-danger"></span>
        </div>


        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Description" class="col-form-label"></label>
            </div>
            <div class="col-5">
                @Html.TextAreaFor(m => m.StoreItem.Description)
            </div>
            <span asp-validation-for="StoreItem.Description" class="text-danger"></span>
        </div>



        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Pairing" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StoreItem.Pairing" class="form-control" />
            </div>
            <span asp-validation-for="StoreItem.Pairing" class="text-danger"></span>
        </div>


        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.IBU" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StoreItem.IBU" type="number" min="0" class="form-control" />
            </div>
            <span asp-validation-for="StoreItem.IBU" class="text-danger"></span>
        </div>


        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Gravity" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StoreItem.Gravity" type="number" min="0" class="form-control" />
            </div>
            <span asp-validation-for="StoreItem.Gravity" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Alcohol" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StoreItem.Alcohol" type="number" min="0" class="form-control" />
            </div>
            <span asp-validation-for="StoreItem.Alcohol" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Amount" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StoreItem.Amount" type="number" min="0" class="form-control" />
            </div>
            <span asp-validation-for="StoreItem.Amount" class="text-danger"></span>
        </div>


        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Price" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StoreItem.Price" class="form-control" />
            </div>
            <span asp-validation-for="StoreItem.Price" class="text-danger"></span>
        </div>


        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.TipoId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.StoreItem.TipoId" id="TipoId" asp-items="Model.Tipo.ToSelectListItem(Model.StoreItem.TipoId)" class="form-control"></select>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.MakerId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.StoreItem.MakerId" id="MakerId" asp-items="Model.Maker.ToSelectListItem(Model.StoreItem.MakerId)" class="form-control"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.SubTipoId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.StoreItem.SubTipoId" name="SubTipoId" id="SubTipoId" asp-items="@(new SelectList(string.Empty,"Id","Name"))" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Bitterness" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="StoreItem.Bitterness" asp-items="Html.GetEnumSelectList<StoreItem.EBitterness>()" class="form-control"></select>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Image" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackToListButton" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            getSubCategory();
            $('#TipoId').change(function () {
                getSubCategory();
            });
        });
        function getSubCategory() {
            var url = '@Url.Content("~/")' + "Admin/SubTipo/GetSubTipo";
            var ddlsource = '#TipoId';
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                var items = '';
                $('#SubTipoId').empty();
                $.each(data, function (i, subcategory) {
                    items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                });
                $('#SubTipoId').html(items);
            })
        }
    </script>


    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}