@model Artesanas.Models.ViewModels.StoreItemViewModel
@using Artesanas.Extensions

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Details StoreItem</h2>
<br />

<div class="border backgroundWhite">
    <input type="hidden" asp-for="StoreItem.Id" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <fieldset disabled>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StoreItem.Name" class="form-control" />
            </div>
            <span asp-validation-for="StoreItem.Name" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.HighlightedWords" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StoreItem.HighlightedWords" class="form-control" />
            </div>
            <span asp-validation-for="StoreItem.HighlightedWords" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Description" class="col-form-label"></label>
            </div>
            <div class="col-5">
                @Html.TextAreaFor(m => m.StoreItem.Description)
            </div>
            <span asp-validation-for="StoreItem.Description" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Pairing" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StoreItem.Pairing" class="form-control" />
            </div>
            <span asp-validation-for="StoreItem.Pairing" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.IBU" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StoreItem.IBU" type="number" min="0" class="form-control" />
            </div>
            <span asp-validation-for="StoreItem.IBU" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Gravity" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StoreItem.Gravity" type="number" min="0" class="form-control" />
            </div>
            <span asp-validation-for="StoreItem.Gravity" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Alcohol" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StoreItem.Alcohol" type="number" min="0" class="form-control" />
            </div>
            <span asp-validation-for="StoreItem.Alcohol" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Amount" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StoreItem.Amount" type="number" min="0" class="form-control" />
            </div>
            <span asp-validation-for="StoreItem.Amount" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Price" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="StoreItem.Price" class="form-control" />
            </div>
            <span asp-validation-for="StoreItem.Price" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.TipoId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.StoreItem.TipoId" id="TipoId" asp-items="Model.Tipo.ToSelectListItem(Model.StoreItem.TipoId)" class="form-control"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.MakerId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.StoreItem.MakerId" id="MakerId" asp-items="Model.Maker.ToSelectListItem(Model.StoreItem.MakerId)" class="form-control"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.SubTipoId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.StoreItem.SubTipoId" name="SubTipoId" id="SubTipoId" asp-items="@(new SelectList(string.Empty,"Id","Name"))" class="form-control"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoreItem.Bitterness" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="StoreItem.Bitterness" asp-items="Html.GetEnumSelectList<StoreItem.EBitterness>()" class="form-control"></select>
            </div>
        </div>

        </fieldset>


        @{
            if (Model.StoreItem.Image != null)
            {
                <div id="imagenActual" class="row">
                    <img src="@Model.StoreItem.Image" style="border-radius:5px;border: 1px solid #bbb9b9; width: 20%; height:20%" />
                </div>
            }        
        }


        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DetailsAndBackToListButton" model="Model.StoreItem.Id" />
            </div>
        </div>


</div>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist",
            menubar: 'file edit format',
            readonly: 1
        });</script>
    <script>tinymce.init({ selector: 'textarea' });</script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

